<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js"></script>
    <script type="text/javascript" charset="utf-8" async="" src="/javascripts/Geolocation.js"></script>
  </head>
  <body onload="initialize()">

        <h1>Search Mini Here</h1>
        <hr>

      <div>
        <%
        var arrX = new Array()
        var arrY = new Array()

         for ( var i = 0 ; i < data.length ; i++){ 
                    arrX.push(data[i].X)
                    arrY.push(data[i].Y)
         } 
          arrX = arrX.join('_')
          arrY = arrY.join('_')
         %>


            <!--<%= arrX  %>
            <%= arrY  %>-->
      </div>


      <input type="text" id="txtFrom" placeholder="Start Location" autofocus style="width:400px">
      <br />
      <input type="text" id="txtEnd" placeholder="End Location" autofocus style="width:400px">
      <br />
    <button class="btn1" id="btnSubmit" onclick="calcRoute(txtFrom.value,txtEnd.value)">Submit</button>
    <!--<button id="btnTest" onclick="markerLatLng(<%= data[5].X %>,<%= data[5].Y %>)">test</button>
    ;arrayCounter(<%= arrX %>);arrayCounter(<%= arrY %>)
    <button id="btnCal" onclick="calcRoute2(<%= data[6].X  %>,<%= data[6].Y  %>,<%= data[7].X  %>,<%= data[7].Y  %>)">cal</button>
    <button id="btnCal2" onclick="calcRoute2(<%= data[7].X  %>,<%= data[7].Y  %>,<%= data[8].X  %>,<%= data[8].Y  %>)">cal2</button>!-->
    <hr>

  <div id="map_canvas" style="width:100%;height:480px;"></div>
    <div style="width:100%;height:180px;overflow:auto">   
      <div id="directions_panel" style="width:100%"></div>
    </div>
  </body>
    <footer>
      <div>
        <a href="/">
          <img src="/images/mini.png" width="50%">
        </a>
      </div>
    </footer>

</html>
